name: CI/CD DevOps Final

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar prueba unitaria
        run: npm test

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: carolperezg/hola-mundo-devops-final:latest

      - name: Deploy en Render
        run: |
          curl -X POST https://api.render.com/deploy/srv-d4u8c03e5dus739mgtn0 \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"
